.btn-primary, .nav-link.active {
      background-color: #24d394 !important;
      color: whitesmoke !important;
      border: 1px solid #24d394 !important;
}

.btn-outline-secondary {
    border: 1px solid #b281db !important;
}

.btn-outline-secondary:hover {
    background-color:#b281db !important;
    color: whitesmoke !important;
}

a {
    color: #b281db !important;
}
