<div class="container">
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-12 col-md">
                <strong>GovFlow</strong>
            </div>
            <div class="col-6 col-md">
                <h5>Features</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/open-311-software/">Open 311
                            Software</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="/service-request-management-for-cities/">Service Request Management for Cities</a>
                    </li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none" href="/features/">Features</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>Resources</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="https://github.com/govflow/govflow">Code</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="https://github.com/govflow/govflow#README">Documentation</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="https://github.com/govflow/govflow/issues">Issue Tracker</a></li>
                    <li class="mb-1"><a class="link-secondary text-decoration-none"
                            href="https://github.com/govflow/govflow/discussions">Discussion Forum</a></li>
                </ul>
            </div>
            <div class="col-6 col-md">
                <h5>About</h5>
                <ul class="list-unstyled text-small">
                    <li class="mb-1">
                        <a class="link-secondary text-decoration-none" href="https://zencity.io">
                            Zencity
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </footer>
</div>
