<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">For City CIOs and CDOs</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">
            GovFlow is designed from ground up for request management, rather than needing to customize a CRM with some features
            for managing 311 requests. It is open source and deployable by any tech service provider, and is
            customizable to fit your internal workflows. In addition to management of service requests, GovFlow provides
            powerful dashboard views on your data enabling your teams to serve consistuents more effectively.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="/contact/" class="btn btn-primary btn-lg px-4 gap-3">Talk to us</a>
        </div>
    </div>
</div>
