<div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">For Developers and GovTech Service Providers</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Gov Flow is open sourced under an MIT license, and provides compatibility with <a
                href="https://wiki.open311.org/GeoReport_v2/">Open 311 GeoReport v2</a>
            (currently in alpha), making it easy to adopt with existing 311 systems. The core of Gov Flow is deeply
            customizable via a plugin system, and provides a clean seperation between the API server and the web client.
            Gov Flow is written in TypeScript,
            and developed openly on <a href="https://github.com/govflow/govflow">GitHub</a>. We welcome <a
                href="https://github.com/govflow/govflow/issues">issues for fixes and enhancements</a>,
            <a href="https://github.com/govflow/govflow/discussions">discussions on new functionality</a>, and pull
            requests!
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="https://github.com/govflow/govflow" class="btn btn-primary btn-lg px-4 gap-3">Get the code</a>
        </div>
    </div>
</div>