<div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="/govflow.jpg" class="d-block mx-lg-auto img-fluid" alt="GovFlow" width="600">
        </div>
        <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Smart request management for local governments.</h1>
            <p class="lead">
                GovFlow is an open source, fully extensible, request management system - designed from ground
                up for today's cities. Fully supporting 311 requests, help desk requests, and public question and answer
                interfaces, GovFlow offers a single system for constituents to engage with their city, and for city
                managers to monitor and analyse request management.
            </p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                <a href="/contact/" class="btn btn-primary btn-lg px-4 me-md-2">
                    Learn more
                </a>
                <a href="https://github.com/govflow/govflow" target="_blank"
                    class="btn btn-outline-secondary btn-lg px-4">
                    Get the code
                </a>
            </div>
        </div>
    </div>
</div>
