<div class="container px-4 py-5" id="hanging-icons">
    <h2 class="pb-2 border-bottom">Key features</h2>
    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="/1.png" width="100" />
            </div>
            <div>
                <h2>Multiple input channels</h2>
                <p>
                    Receive service requests from wherever your constituents are, including email, web, sms, social
                    media, chatbots
                    and more. Easily respond via the same channels.
                </p>
                <a href="/features" class="btn btn-primary">
                    Read more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="/3.png" width="100" />
            </div>
            <div>
                <h2>Fits for your workflow</h2>
                <p>
                    Gov Flow provides complete customization of the flow for handling requests. Bend Gov Flow to fit
                    <i>your</i>
                    business requirements, and work how your team works.
                </p>
                <a href="/features" class="btn btn-primary">
                    Read more
                </a>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <div class="icon-square bg-light text-dark flex-shrink-0 me-3">
                <img src="/4.png" width="100" />
            </div>
            <div>
                <h2>Accessible data-driven insights</h2>
                <p>
                    Gov Flow gives you a dashboard to interact with your data. Use it to get an understanding of the
                    volume of your cases, identify service breakdowns by geolocation, and more.
                </p>
                <a href="/features" class="btn btn-primary">
                    Read more
                </a>
            </div>
        </div>
    </div>
</div>